<header class="header-container">

    <div class="logo-container">
        <h1>{{ title() }}</h1>
    </div>

    <nav class="navigation">

        <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{
                exact: true
            }">

            Inicio

        </a>

        <a
            routerLink="/tasks"
            routerLinkActive="active">

            Tareas

        </a>

        <button
            pButton
            (click)="navigateToTasks()">

            Ir a tareas

        </button>

    </nav>

</header>
