.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2rem;

    border-bottom: 1px solid #e5e7eb;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navigation a {
    color: inherit;
    text-decoration: none;
}

.active-link {
    font-weight: bold;
}